{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpinionLine</title>
    <!-- Libs -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,700&amp;subset=cyrillic" rel="stylesheet">


    <script src="https://vk.com/js/api/openapi.js?152" type="text/javascript"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" />

    <meta name="yandex-verification" content="a1b58d1682f90f44" />

    <!-- JavaScript Files -->
    {% block js %}
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body  itemscope itemtype ="http://schema.org/WebPage">
    <header>
        <nav>
            <a class="navbar-link" href="/">Opinion<span>Line</span></a>


            <div class="login-buttons">
                {% if user.is_authenticated %}
                <a title="Профиль" href="{% url 'show_user_profile' %}">
                    <i class="fas fa-user"></i></a>
                <a title="Выйти" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                <a title="Войти" href="{% url 'social:begin' 'vk-oauth2' %}?next={{request.get_full_path}}">
                    <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <!--<main role="main" class="grid">-->

    <!--</main>-->
    <span style="display: none;" itemprop="name">OpinionLine</span>
    <img src="https://www.opinionline.ru/media/img/pic_12abb360f5c812554496b04b5e87b15f.jpg" style="display: none;"  itemprop="image"/>

    <div class="main-container">
        <!--<div class="row">-->
            <!--<div class="col-md-8">-->
            {% block content %}
            {% endblock %}
            <!--</div>-->
        <!--</div>-->
    </div>
</body>
</html>
