{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpinionLine</title>
    <!-- Libs -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,700&amp;subset=cyrillic" rel="stylesheet">


    <script src="https://vk.com/js/api/openapi.js?152" type="text/javascript"></script>
    {% block extrajs %}
    {% endblock %}

    <!-- VK social media sharing -->
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

</head>

<body>
    <header>
        <nav>
            <a class="navbar-link" href="/">Opinion<span>Line</span></a>

            <div class="login-buttons">
                {% if user.is_authenticated %}
                <a title="Профиль" href="{% url 'show_user_profile' %}">
                    <i class="fas fa-user"></i></a>
                <a title="Выйти" href="{% url 'logout' %}?next={{request.get_full_path}}">
                    <i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                <a title="Войти" href="{% url 'social:begin' 'vk-oauth2' %}?next={{request.get_full_path}}">
                    <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="container">
            {% block content %}
            {% endblock %}

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
