{% extends 'blog/base.html' %}

{% block extrajs %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
{% endblock %}

{% block content %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <div class="post" itemscope itemtype ="http://schema.org/WebPage">
        <!--<div class="date">-->
            <!--<div class="column">-->
            <!--    <span class="badge" id="badge">-->
            <!--    {{ post.get_tag_display }}-->
            <!--    </span>-->
            <!--</div>-->
        <!--</div>-->


        <div class="post-title" itemprop="name">{{ post.title }}</div>
        <div class="views">
        <!--<div>-->
            <span class="glyphicon glyphicon-eye-open"
              aria-hidden="true">{{ post.views|stringformat:"i" }}
            </span>
        </div>
        <img src="{{ post.image.url }} " style="display: none;"  itemprop="image"/>
        <!--<p><img src="{{ post.image.url }} " class="img-responsive watch-right"/>-->
        <!--<div class="descript">{{ post.img_source}}</div>-->
        <!--</p>-->
        <!-- {{ post.text|linebreaksbr }} -->
        <p class="post-descript">
        <div class="container-quote">

        {% for quote in post.quotes.all %}

        <blockquote class="quote-card">
        <p>{{ quote.quote }}</p>
        <cite>{{ quote.author|linebreaksbr }}
            {% if quote.source|length > 0 %}
                <a href="{{ quote.source }}">[Источник]</a>
            {% endif %}
        </cite>
        </blockquote>

        {% for poll in quote.polls.all %}
        {% load get_at_index %}

        {% if js_results|get_at_index:poll.id is None %}
        <div class="wrap panel panel-default">
        <form name="myForm" method="post" id="{{ poll.id }}">
            {% csrf_token %}
            <label class="statement">{{ poll.question }}</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert-{{ poll.id }}" id="poll" value="5">
                <label>Совершенно согласен</label>
              </li>
              <li>
                <input type="radio" name="likert-{{ poll.id }}" id="poll" value="4">
                <label>Скорее согласен</label>
              </li>
              <li>
                <input type="radio" name="likert-{{ poll.id }}" id="poll" value="3" checked>
                <label>Отношусь нейтрально</label>
              </li>
              <li>
                <input type="radio" name="likert-{{ poll.id }}" id="poll" value="2">
                <label>Скорее не согласен</label>
              </li>
              <li>
                <input type="radio" name="likert-{{ poll.id }}" id="poll" value="1">
                <label>Абсолютно не согласен</label>
              </li>
            </ul>
           <div class="buttons">
               {% if user.is_authenticated%}
              <button class="submit" name="poll-{{ poll.id }}" >Проголосовать</button>
               {% else %}
               <a class="submit-buttom" title="Войти"
                  href="{% url 'social:begin' 'vk-oauth2' %}?next={{request.get_full_path}}">
                   Войдите, чтобы проголосовать
               </a>
               {% endif %}
            </div>
          </form>
        </div>

        {% else %}

<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>

<div class="wrap panel panel-default">
    <p></p>
<div id="myChart{{ poll.id }}"></div>
<script>
var myConfig = {
  "type": "area",
  "scale-x":{
    "labels":["Совершенно\nсогласен","Скорее\nсогласен",
    "Отношусь\nнейтрально","Скорее\nне согласен","Абсолютно\nне согласен"],
    "step":"1",
  },
  "scale-y":{
  "visible":"false",
  },
  "plot":{
    "aspect":"spline",
    "line-color": "gray",
    "marker": {
      "background-color": "gray",
    }
   },
  "tooltip":{
    "visible":"false",
  },
  "backgroundColor":"#fff",
  "plotarea":{
    "margin-top":"10",
    "margin-bottom":"70",
    "x":"50",
    "backgroundColor":"#fff",
  },
  "gui": {
    "contextMenu": {
      "button": {
        "visible": "false"
      }
    }
  },
  "title": {
    "text":"{{ js_results|get_at_index:poll.id|get_at_index:6 }}",
    "font-size": 15,
    "bold":false,
    "italic":true,
    "wrap-text":true,
    "text-align": "left",
    "adjust-layout":"true",
   "width":"92%",
    "x":"4%",

        },
  "series": [
    {
      "alphaArea":"0.5",
      "values": {{ js_results|get_at_index:poll.id|slice:"5" }},
      "gradient-colors":"#00FF00 #7FFF00 #FFFF00 #FFFF00 #FF0000",
      "gradient-stops":"0.1 0.2 0.4 0.6 0.9",
      "fill-angle":15,
    }
  ]
};

zingchart.render({
	id : 'myChart{{ poll.id }}',
	data : myConfig,
	height: 250,
	width: "100%"
});
</script>
</div>

        {% endif %}


         {% endfor %}

        {% endfor %}

        </div>
        </p>
    </div>

<br>


<!--<p class="detail-rec">Поделиться ссылкой в социальных сетях:</p>-->

<div class="social-media">

<script type="text/javascript"><!--
document.write(VK.Share.button({url: 'https://www.opinionline.ru/post/{{ post.pk }}', title: '{{ post.title }}', image: 'https://www.opinionline.ru/{{ post.image.url }}'},
{type: "round_nocount", text: "Поделиться"}));
--></script>

<a class="twitter-share-button" href="https://twitter.com/intent/tweet"
  data-text="{{ post.title }}" data-lang="ru" data-url="https://www.opinionline.ru/post/{{ post.pk }}"></a>

<script async defer src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2&appId=949463291895207"></script>

<div id="fb-root"></div>
<div class="fb-share-button" data-href="https://www.opinionline.ru/post/{{ post.pk }}" data-layout="button" data-size="small" data-mobile-iframe="true">
</div>

<div id="ok_shareWidget"></div>
<script>
!function (d, id, did, st, title, description, image) {
  var js = d.createElement("script");
  js.src = "https://connect.ok.ru/connect.js";
  js.onload = js.onreadystatechange = function () {
  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
    if (!this.executed) {
      this.executed = true;
      setTimeout(function () {
        OK.CONNECT.insertShareWidget(id,did,st, title, description, image);
      }, 0);
    }
  }};
  d.documentElement.appendChild(js);
}(document,"ok_shareWidget","https://www.opinionline.ru/post/{{ post.pk }}",'{"sz":20,"st":"rounded","nc":1,"ck":2}',"{{ post.title }}","","https://www.opinionline.ru/{{ post.image.url }}");
</script>
    <!-- или, вместо ..."nc":1,"nt":1}',..."nc":1,"ck":2} -->
</div>
<br>

<!--<div class="social-media small-b">-->

   <!--<script type="text/javascript">&lt;!&ndash;-->
<!--document.write(VK.Share.button({url: 'https://www.opinionline.ru/post/{{ post.pk }}', title: '{{ post.title }}', image: 'https://www.opinionline.ru/{{ post.image.url }}'},-->
<!--{type: "custom", text: "<img src=\"https://vk.com/images/share_32.png\" width=\"21\" height=\"21\" />"}));-->
<!--&ndash;&gt;</script>-->

 <!--&lt;!&ndash;{type: "custom", text: "<img src=\"https://vk.com/images/share_32.png\" width=\"32\" height=\"32\" />"} &ndash;&gt;-->
    <!--&lt;!&ndash;{type: "round_nocount", text: "Поделиться"}&ndash;&gt;-->

<!--<a class="twitter-share-button" href="https://twitter.com/intent/tweet"-->
  <!--data-text="{{ post.title }}" data-lang="ru" data-url="https://www.opinionline.ru/post/{{ post.pk }}"></a>-->

<!--<script async defer src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2&appId=949463291895207"></script>-->

<!--<div id="fb-root2"></div>-->
<!--<div class="fb-share-button" data-href="https://www.opinionline.ru/post/{{ post.pk }}" data-layout="button" data-size="small" data-mobile-iframe="true">-->
<!--</div>-->

<!--<div id="ok_shareWidget2"></div>-->
<!--<script>-->
<!--!function (d, id, did, st, title, description, image) {-->
  <!--var js = d.createElement("script");-->
  <!--js.src = "https://connect.ok.ru/connect.js";-->
  <!--js.onload = js.onreadystatechange = function () {-->
  <!--if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {-->
    <!--if (!this.executed) {-->
      <!--this.executed = true;-->
      <!--setTimeout(function () {-->
        <!--OK.CONNECT.insertShareWidget(id,did,st, title, description, image);-->
      <!--}, 0);-->
    <!--}-->
  <!--}};-->
  <!--d.documentElement.appendChild(js);-->
<!--}(document,"ok_shareWidget2","https://www.opinionline.ru/post/{{ post.pk }}",'{"sz":20,"st":"rounded","nc":1,"nt":1}',"{{ post.title }}","","https://www.opinionline.ru/{{ post.image.url }}");-->
<!--</script>-->
    <!--&lt;!&ndash; или, вместо ..."nc":1,"nt":1}',..."nc":1,"ck":2} &ndash;&gt;-->
<!--</div>-->




    <hr>
    <p class="detail-rec">Вам также может быть интересно:</p>
    <div class="container three-rec">
        <div class="col-md-10">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-3">
                <div class="thumbnail text-center item">
                    {% if post.pk|stringformat:"s" in request.session.keys %}
                    {% endif %}
                    <a href="{% url 'post_detail' pk=post.pk %}" >
                    <div class="item">
                       <img src="{{ post.image.url }}" class="img-responsive watch-right"/>
                    </div>
                    <div id="caption"> {{ post.title }} </div>
                    </a>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>
    </div>


<div class="bootstrap snippet">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<div class="compar">Комментарии</div>
                <hr/>
				<ul class="comments">

{% for comment in post_comments %}
	<li class="clearfix">
	<!--<img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">-->
	        {% autoescape off %}{{ comment.svg }}{% endautoescape %}

        <div class="post-comments">
	 <p class="meta">{{ comment.created_date }} <a href="#">{{ comment.author }}</a>
         написал:</p>
         <p>
         {{ comment.text|linebreaks }}
         </p>
	</div>
	</li>

    {% empty %}
        <p></p>
        <p>Комментариев еще нет:(<p>
        <br>
    {% endfor %}

    {% if user.is_authenticated%}
    <p></p>

    <li class="clearfix">
        {% autoescape off %}{{ svg_tag }}{% endautoescape %}
	<!--<img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">-->
        <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="post-comment" class="btn btn-default">Добавить комментарий</button>
    </form>
	</li>
    {% endif %}

				</ul>
			</div>
		</div>
	</div>
</div>




{% endblock %}
