{% extends 'blog/base4.html' %}
{% block content %}

<div class="container">
   <div class="card-columns">

      {% for post in posts %}
      <div class="card">
         <a href="{% url 'post_detail' pk=post.pk %}" >
            <img src="{{ post.image.url }}" class="card-img img-fluid"/>
            <div class="card-body">
                 <div class="card-title"> {{ post.title }} </div>
            </div>
         </a>
      </div>

      {% endfor %}

   </div>
</div>

<a class="refresh" href="." id="refresh">
    <span class="glyphicon glyphicon-refresh"></span>
</a>

{% endblock content %}