{% extends 'blog/base.html' %}

{% block content %}
<!--
    <div class="post">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-sm-3">
                <div class="thumbnail text-center item">
                    <a href="{% url 'post_detail' pk=post.pk %}" >
                    <div class="item">
                       <img src="{{ post.image.url }}" class="img-responsive watch-right"/>
                    </div>

                    <div id="caption"> {{ post.title }} </div></a>
                </div>
             </div>
            {% endfor %}
        </div></div></div>
    </div>
<a class="refresh" href="." id="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
-->

    <div class="post">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-sm-3">
                <div class="thumbnail item">
                    <a href="{% url 'post_detail' pk=post.pk %}" >
                    <div class="item">
                       <img src="{{ post.image.url }}" class="img-responsive watch-right"/>
                    </div>

                    <div id="caption"> {{ post.title }} </div></a>
                </div>
             </div>
            {% endfor %}
        </div></div></div>
    </div>
<a class="refresh" href="." id="refresh"><span class="glyphicon glyphicon-refresh"></span></a>

{% endblock content %}

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="card-columns" style="column-count: 4; width: 900px;">
    {% for post in posts %}
  <div class="card">
      <a href="{% url 'post_detail' pk=post.pk %}" >
    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"> {{ post.title }}</h4>
    </div></a>
  </div>
{% endfor %}
</div>-->



<!--
                    <a href="{% url 'post_detail' pk=post.pk %}" >
                    <figure class="wp-caption">
                       <img class="demo"  src="{{ post.image.url }}"  alt="Image" />

                    <figcaption class="wp-caption-text"> {{ post.title }} </figcaption>
                    </figure>
                        </a>

-->
