{% extends 'blog/base.html' %}
{% block content %}

<aside> <!-- Дополнительная информация о профиле -->
    <div class="profile-info">
        {% autoescape off %}{{ svg }}{% endautoescape %}
        <h3>{{ user_name }}</h3>
    </div>
    <ul class="profile-buttons">
        <li class="current-page">Тематический профиль</li>
        <li><a title="История голосований" href="{% url 'show_user_history' %}">История голосований</a></li>
    </ul>
</aside>

<div class="user-profile-content">
<h4>Ваш тематический профиль:</h4>
  <table class="table table-bordered user-tp" style="width: 40%;">
    <thead>
      <tr class="active">
        <th>Тема</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
{% for topic in topic_profile %}
<tr>
    <td>{{ topic.0 }}</td>
    <td>{{ topic.1 }}</td>
</tr>
{% endfor %}
   </tbody>
  </table>
</div>
{% endblock %}
