html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12pt;
    background-color: #F8F8F8;
}

.post-form textarea, .post-form input {
    width: 100%;
}



/* Thumbnail images */

.col-sm-3 img {
  object-fit: cover;
  object-position: center;
  height: 145px;
  width: 200px;
}

.col-sm-3 a {
    font-size: 12pt;
}

.three-rec .col-md-10 .col-md-3 img {
  object-fit: cover;
  object-position: center;
  height: 145px;
  width: 200px;
}

/* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Image box shadow on hover */
.thumbnail:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* Image scaling on hover */
.item {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  *display:inline; /* ie7 fix */
  float: none;
}

.item img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Captions */

.thumbnail {
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#caption {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    /*background: radial-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.65));
    background: radial-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.65));
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.65));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.65));*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    /*color: white;*/
    display:inline-block;
    text-decoration: none;
    padding: 4px;
}

/* polygon over image
.item img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 26%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 26%, 0 100%);
} */


a, a:visited, a:hover {
    color: #000000;
}


/* captions */
.wp-caption {
    position: relative;
    padding: 0;
    margin: 0;
}

.wp-caption img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wp-caption:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
}

.wp-caption-text {
    display: block;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Main page refresh button */
.refresh{
    text-align: right;
    display: block;
    padding-top:35%;
    padding-right:-10px;
}

.refresh:hover {
    text-decoration: none;
    color: black;
}

/* Other main page features */


/* Post issues */
.date {
    color: #828282;
    margin-left: 2px;
}

img.img-responsive.watch-right#detail {
    width: 100%;
}

.views {
    color: #828282;
    float: right;
    margin-right: 2%;
}

.column {
    float: left;
    width: 49%;
}

.glyphicon-eye-open:before {
  margin-right: 5px;
}

p.post-descript {
    clear:both;
    padding-top: 20px;
}

.comment {
    margin: 20px 0px 20px 0px;
}

div .descript {
    float: right;
    font-style: italic;
    font-size: 10pt;
}

div .post {
    padding-bottom: 5%;
}


/* Mobile version */
/* Containers */
@media (max-width:767px) {
.col-sm-3 img {
  min-height: 180px;
  width: 250px;
}

.container{
    margin-left:5px;
    margin-right:5px;

}
.container .col-md-10 {
    text-align: center;
}

.container .col-sm-3 {
    text-align: center;
}
}

/* Refresh button */
@media (max-width:767px) {
.refresh{
    text-align: right;
    color: black;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right:10px;
}


.post{
    margin-bottom: 0px;
}
}


/* Design template (all to the next comment) */
.header-blue{
  /*background:linear-gradient(135deg, #172a74, #21a9af);*/
  background:linear-gradient(135deg, #a6c0fe, #f68084);
  /*background:linear-gradient(135deg, #e0c3fc, #8ec5fc);*/
  background-color:#184e8e;
  padding-bottom:0px;
  font-family:'Source Sans Pro', sans-serif;
}

#black {
    color: #4d3475;
    float: right;
}

@media (max-width:767px) {
  .header-blue{
    margin-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right{
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:0px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:0px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/skyscraper.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

/* Template css END*/

/*
when on parent (thumbnail, change caption)
 e.g show something on the card on hover (tag or smth else)
.thumbnail:hover #badge{
    display: inline;
} */


/* Polls */

form {
  margin-bottom:0px;
  overflow: hidden;
}

h1.likert-header {
  padding-left:4.25%;
  padding-top:3%;
  padding-bottom:3%;
  margin:0;
  font-size:12pt;
  font-weight: bold;
}

form .statement {
  display:block;
  font-size: 16px;
  font-weight: normal;
  padding: 20px 0 0 4.25%;
}

div#results {
  font-weight: bold;
  padding-left: 4.25%;
  padding-top: 2%;
}

form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 20px;
  display:block;
  border-bottom:2px solid #efefef;
}

form .likert:last-of-type {border-bottom:0;}

form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}

form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}

form .likert li label {
  width:100%;
  font-size:10pt;
  font-weight: normal;
}

form .buttons {
  margin:0px 0;
  padding:2% 4.25%;
  text-align:right;
}

form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
  font-size: 11pt;
}

form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}


@media (max-width:1001px) {

form .likert:before {
  content: none;
  position:none;
  top:none;
  left:none;
  display:none;
  background-color:none;
  height:0px;
}

form .likert {
  padding-bottom: 0px;
}

form .statement {
    padding: 10px 0 0 4.25%;
}

form .likert li {
  width:100%;
  text-align:left;
}

form .likert li input[type=radio] {
  display:inline;
  position:relative;
  top:0;
  left:0%;
  margin-left:5%;
}

form .likert li label {
  width:80%;
  font-size:12pt;
  font-weight: normal;
}

form .buttons {
  margin:0px;
  padding-bottom: 10px;
  text-align:right;
}

}

/* Stacked poll bar */
.progress .abs-agree{ background-color: #F98114; }
.progress .agree{ background-color: #FFBA75; }
.progress .neutral{ background-color: #CECECE; }
.progress .disagree{ background-color: #A6C7E7; }
.progress .abs-disagree{ background-color: #6298C2; }

.progress label{
    color: black;
    font-style: normal;
    line-height: 1.2;
}

.progress {
height: 35px;

}

.graph label {
  display: none;
}

.graph {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 2%;
  /*background-color: #beb*/
}

.vertical {
  display: inline-block;
  width: 19%;
  height: 60px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);

}

div .names-list{
  width: 102.5%
}

div .list{
  display: inline-block;
  width: 19%;
  float:left;
  text-align: center;
  margin-bottom: 10px;
  font-size: 10pt;

}


@media (max-width:1001px) {
.vertical {
  display: block;
  width: 97%;
  margin: 5px;
  height: 10px;
  -webkit-transform: none; /* Chrome, Safari, Opera */
  transform: none;
}

.progress-bar {
  padding-bottom: 55px;
}

.graph label {
  display: inline-block;
  font-weight: normal;
  left: 8%;
  font-size: 12pt;
  margin-top:-5px;
  margin-bottom: 5px;
  margin-left:4%;
}

div .names-list {
  display: none;
}

.graph {
  padding-top:0px;
  margin-top:0px;
}

form .statement {
  font-weight: bold;
  padding-left: 10px;
}
}

/* User statistic page */
table {
  background: white;
  font-size: 11pt;
  display: none;
  color: black;
}

table a:hover {
  text-decoration: none;
  color: #a6c0fe;
}

/* Pop-up window */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /*margin-top: 5%;*/
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    max-width: 180px;
    position:relative;
}

/* Icons for login with Social Networks*/

a:visited.btn-social-icon {
    color: white;
}

.social-networks {
    display: table;
    border-spacing: 2px;
    border-collapse: separate;
    margin: 0 auto;
}

.btn-social-icon {
    display: table-cell;
}

/* The Close Button */
.close {
    position: absolute;
    /*
    color: gray;
    top: 0px;
    right: 5px;
    */
    color: white;
    opacity: 0.6;
    top: -25px;
    right: -23px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

/* Quotes */

.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.quote-card p {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  max-width: 80%;
}

.quote-card cite {
  font-size: 13px;
  margin-top: 10px;
  max-width: 80%;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}

.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}

.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}

.container-quote {
  max-width: 800px;
  margin:10px auto;
}

.text-center {
  text-align: center;
}

@media (max-width:1001px) {
  .quote-card {
  max-width: 100%;
  }

  .quote-card p {
  max-width: 100%;
  }

  .quote-card cite {
  max-width: 100%;
  }
  .quote-card:after {
  content: none;
  }
}