.page-header {
    background-color: #67BCDB;
    margin-top: 0;
    padding: 10px 10px 10px 40px;
}

.col-sm-3 img {
  object-fit: cover;
  object-position: center;
  height: 145px;
  width: 200px;
}


.col-sm-3 a {
    font-size: 12pt;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20pt;
    font-family: 'Open Sans', sans-serif;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.views {
    color: #828282;
    text-align: right;
}

.column {
    float: left;
    width: 49%;
}

.glyphicon-eye-open:before {
  margin-right: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post a, .post a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

#address, body {
    font-family: 'Roboto', sans-serif;
}

#address {
    font-size: 16pt;
}

body {
    font-size: 12pt;
    background-color: #F5F5F5;
}


#address a {
    color: #000000;
}

/* Captions */

.thumbnail {
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#caption {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* background: radial-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.85));
    background: radial-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.85));
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.85));
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.85));*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    display:inline-block;
    text-decoration: none;
    padding: 4px 4px 4px 4px;

}

#align-fix {
    text-align: left;
}

#badge {
    margin: 5px 0px 5px 0px;
    /* position: absolute; */
    z-index:1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    /* background: #f8f8ff;
    color: black;*/
    background: none;
    color: #8b8378;
    border: thin solid #8b8378;

}


/*
when on parent (thumbnail, change caption)
 e.g show something on the card on hover (tag or smth else)
.thumbnail:hover #badge{
    display: inline;
}


/* Design template (all to the next comment) */
.header-blue{
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  padding-bottom:0px;
  font-family:'Source Sans Pro', sans-serif;
}

@media (max-width:767px) {
  .header-blue{
    padding-bottom:80px;
  }
}

.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right{
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/skyscraper.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

/* Image box shadow on hover */
.thumbnail:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* Image scaling on hover */
.item {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  *display:inline; /* ie7 fix */
  float: none;
}

.item img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.051);
}
