/* Общие настройки: убираем пустоты по краям */
body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-size: 12pt;

    background: #f0f0f0;
    background: #FCFCFC;
    background: #FAFAFA;

    background: #f1efe9;


}

/* Изменяем стандартное оформление ссылок*/
a, a:hover  {
    color: black;
    text-decoration: none;
}

/* a:hover {
    color: red;
}

a, a:hover {
    transition: color 0.3s;
} */


/* Шапка сайта */
header {
    padding: 18px 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /* background: linear-gradient(135deg, #a6c0fe, #f68084); */
    background-color: rgba(254, 254, 254, 0.96);
    /* great yellow */
    /* border-bottom: 1px solid rgb(237, 239, 241); */

    -webkit-box-shadow: 0 2px 2px rgba(162, 165, 171, 0.16);
    -moz-box-shadow: 0 2px 2px rgba(162, 165, 171, 0.16);
     box-shadow: 0 2px 2px rgba(162, 165, 171, 0.16);
}

header ~ .container {
    margin-top: 80px;
}

header ~ .main-container {
    margin-top: 80px;
}

header .login-buttons {
    float: right;
}

header .login-buttons a {
    margin-left: 12px;

    font-family: "Font Awesome 5 Free";
    font-size: 15pt;

    color: #7B7B7B;
    transition: color 0.3s;
}

header .login-buttons a:hover {
    color: #000000;
    transition: color 0.3s;
}

header .navbar-link {
    color: #333;
    font-size: 13pt;
    font-weight: 300;

}

header .navbar-link:hover:not(span) {
    text-decoration: none;
}


header .navbar-link span {
    color: #333;
}


/* Выравним контейнер по ширине */
main {
    text-align: center;
    padding: 5px 0px;
}


/* Оформление постов */
article {
    max-width: 240px;

    background: #ffffff;

    border: 0px dashed red;
    border-radius: 3px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}

article a, article img {
    max-width: inherit;
    border-radius: 3px 3px 0px 0px;

}

article h2 {
    margin: 10px;
    font-size: 12pt;
    font-weight: 600;
}

/* Grid */
.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    grid-gap: 5px;
    grid-auto-flow: row;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}



/* Bootstrap 4 */
.main-container {
    margin: 0 10%;
}

@media (max-width:767px) {
.main-container {
    margin: 0 7%;
}
}

.card-body {
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-weight: 300;
    font-size: 11pt;
    line-height: 1.5;
}

.card-title {
    margin-bottom: 0;
}

.card:hover {
    cursor: pointer;
    /* background-color: #e6ebf1; */
    background-position: -.5em;
    border-color: rgba(27,31,35,.35);
}


@media (max-width:767px) {

.card-columns {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
 }
}

/* User profile & history */
aside {
    padding-bottom: 30px;
}

aside .profile-info h3 {
    margin: 2px;
}

aside .profile-buttons {
    list-style: none;
    margin-left: 30px;
    font-size: 11.4pt;
}

aside .profile-buttons li {
    float: left;
    margin-right: 7px;
}

aside .profile-buttons li.current-page {
    border-bottom: 1px solid black;
    font-weight: 600;
}

aside .profile-buttons a:hover {
    color: #97b2f4;
}

aside .profile-buttons a, aside .profile-buttons a:hover{
    transition: color 0.2s;
}

.user-profile-content {
    clear: both;
}

@media (max-width:767px) {
    aside .profile-buttons li.current-page {
        border: none;
    }

    aside .profile-buttons {
        list-style-type: disc;
        margin-left: 45px;
        margin-bottom: 20px;
    }

    aside .profile-buttons li {
        float: none;
    }

}